{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}
    <hero class="container mb-4">
        <div class="row justify-content-center">
            <div class="col-md-10" style="color:white;">
                <h1 class="text-center mt-4">Services</h1>
                <hr class="custom-hr mx-auto">
            </div>
        </div>
        
        <div class="column d-flex flex-column align-items-center justify-content-center" id="key_lockout">
            <div class="col-md-4 mt-4">
                <h3>
                    <span style="display: inline-block; text-align: center;">&#9881;</span>
                    <span style="display: inline-block; text-align: center; color: white;">Car lockout</span>
                </h3>
                <hr class="custom-hr mx-auto">
            </div>
            <div class="col-md-6 d-flex align-items-center" style="color:white;">
                <p class="text-center" style="font-size: 20px;">Vehicle lockouts are quick and no damage to the car. The car will be unlocked using specialized tools to pick the original lock of the car .Vehicle unlocking or car lockouts services are useful for situations in which the keys are locked in the boot or trunk, the key fob doesn't work, the key is not turning, the battery is flat, the key is locked in the car with the engine running, even situations where the dog locked himself in the car.</p>
            </div>
        </div>

        <div class="column d-flex flex-column align-items-center justify-content-center" id="key_replace">
            <div class="col-md-4 mt-4">
                <h3>
                    <span style="display: inline-block; text-align: center;">&#9881;</span>
                    <span style="display: inline-block; text-align: center; color: white;">Key replacement</span>
                </h3>
                <hr class="custom-hr mx-auto">
            </div>
            <div class="col-md-6 d-flex align-items-center" style="color:white;">
                <p class="text-center" style="font-size: 20px;">When All keys are lost and there is no key to access the car, or start the engine, there are solutions for situations like this as well. Depending on the car, it takes between 30 minutes to one hour to access the car safely, turn the alarm off and start the car. Everything is done on the spot under your own eyes and . A lost car key situation means obviously the lack of keys to the car, no key to start the engine, But also means any other situations where there is a damaged key , bits and pieces of the key, only the blade of the key, only the fob of the key, Basically any other situations in which the car WILL NOT START.</p>
            </div>
        </div>

        <div class="column d-flex flex-column align-items-center justify-content-center" id="key_cutting">
            <div class="col-md-4 mt-4">
                <h3>
                    <span style="display: inline-block; text-align: center;">&#9881;</span>
                    <span style="display: inline-block; text-align: center; color: white;">Key cutting</span>
                </h3>
                <hr class="custom-hr mx-auto">
            </div>
            <div class="col-md-6 d-flex align-items-center" style="color:white;">
                <p class="text-center" style="font-size: 20px;">Precise and professional key cutting services for vehicles of all makes and models. I use cutting-edge technology to ensure that your new keys fit your car perfectly, providing you with a seamless and hassle-free experience.</p>
            </div>
        </div>

        <div class="column d-flex flex-column align-items-center justify-content-center" id="key_programming">
            <div class="col-md-4 mt-4">
                <h3>
                    <span style="display: inline-block; text-align: center;">&#9881;</span>
                    <span style="display: inline-block; text-align: center; color: white;">Key programming</span>
                </h3>
                <hr class="custom-hr mx-auto">
            </div>
            <div class="col-md-6 d-flex align-items-center" style="color:white;">
                <p class="text-center" style="font-size: 20px;">Key programming services are usually required when one of the original keys off the car has been deleted or banned, or the customer has purchased a key from the main dealer and needs programming or in some situations the keys are wiped out and needs reprogramming.</p>
            </div>
        </div>

        <div class="column d-flex flex-column align-items-center justify-content-center" id="locked_doors">
            <div class="col-md-4 mt-4">
                <h3>
                    <span style="display: inline-block; text-align: center;">&#9881;</span>
                    <span style="display: inline-block; text-align: center; color: white;">Unlocking locked doors</span>
                </h3>
                <hr class="custom-hr mx-auto">
            </div>
            <div class="col-md-6 d-flex align-items-center" style="color:white;">
                <p class="text-center" style="font-size: 20px;">Locked out of your car? Don't panic! I am specialized in unlocking locked doors without causing any damage. I can safely gain access to your vehicle, allowing you to retrieve your keys and continue with your day.</p>
            </div>
        </div>

        <div class="column d-flex flex-column align-items-center justify-content-center" id="theft_protection">
            <div class="col-md-4 mt-4">
                <h3>
                    <span style="display: inline-block; text-align: center;">&#9881;</span>
                    <span style="display: inline-block; text-align: center; color: white;">Theft protection</span>
                </h3>
                <hr class="custom-hr mx-auto">
            </div>
            <div class="col-md-6 d-flex align-items-center" style="color:white;">
                <p class="text-center" style="font-size: 20px;">Theft protection or Anti theft solutions can be expensive and confusing. One of the best ways to protect your car is to install an aftermarket immobiliser, or even better, to install an Alarm system with an immobiliser function. Starline is one of the best on the market, an alarm system that can protect your car using an unic activation code each time you try to start the car, or use your phone as a special key. Also it can transform your car into a keyless entry, or you can use your phone to start the car remotely in the winter mornings.</p>
            </div>
        </div>

        <div class="column d-flex flex-column align-items-center justify-content-center" id="g2_immobilizers">
            <div class="col-md-4 mt-4">
                <h3>
                    <span style="display: inline-block; text-align: center;">&#9881;</span>
                    <span style="display: inline-block; text-align: center; color: white;">Installing Ghost2 immobilizers</span>
                </h3>
                <hr class="custom-hr mx-auto">
            </div>
            <div class="col-md-6 d-flex align-items-center" style="color:white;">
                <p class="text-center" style="font-size: 20px;">Upgrade your car's security with a professional installation services for Ghost2 immobilizers. These state-of-the-art immobilizing systems offer advanced protection against key cloning and theft. I will ensure seamless integration of the Ghost2 immobilizer, enhancing your vehicle's security to the highest level possible.</p>
            </div>
        </div>

        <div class="column d-flex flex-column align-items-center justify-content-center" id="ignition_repair">
            <div class="col-md-4 mt-4">
                <h3>
                    <span style="display: inline-block; text-align: center;">&#9881;</span>
                    <span style="display: inline-block; text-align: center; color: white;">Ignition switch repair</span>
                </h3>
                <hr class="custom-hr mx-auto">
            </div>
            <div class="col-md-6 d-flex align-items-center" style="color:white;">
                <p class="text-center" style="font-size: 20px;">A damaged car ignition switch can be a cause of wear and tear or depending on the situation can be a result of a forced action. Usually this would be the situation when " the key doesn't turn in the ignition switch, the key doesn't go in the ignition switch, the key doesn't come out of the ignition switch, can't turn the key, can't start the car, no lights in the dashboard, no crank.</p>
            </div>
        </div>

    </hero>
{% endblock %}

